{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1>Liste des éditeurs</h1>

    <a class="btn btn-primary ms-3" href="/library/editor/createEditor">Ajouter un éditeur</a>

    <table class="table table-striped">
      <thead>
        <tr>
            <th>Nom</th>
        </tr>
      </thead>
      <tbody>
        {% for item in editors %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a class="btn btn-primary" href="update/?id={{ item.id }}">Modifier</a>
                    <a class="btn btn-danger" href="delete/?id={{ item.id }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content %}