{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1>Forum</h1>

    <a class="btn btn-primary ms-3" href="/createForum">Ajouter une catégorie</a>

    <table class="table table-striped">
      <thead>
        <tr>
            <th>Titre</th>
            <th>Utilisateur</th>
        </tr>
      </thead>
      <tbody>
        {% for item in forum %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.creator.firstname }}</td>
                <td>
                    <a class="btn btn-primary" href="messageForum/?id={{ item.id }}">Voir</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content %}