{% extends 'base.html' %} {% block content %}

<h1>Liste des groupes</h1>

<a class="btn btn-primary ms-3" href="/createGroup">Ajouter un groupe</a>

<table>
    <tr>
        <th>Name</th>
        <th>Date et heure</th>
    </tr>
    {% for item in group %}
    <tr> 
        <td>{{ item.name }}</td>
        <td>{{ item.date_group }}</td>
        <td>
            <a href="update/?id={{ item.id }}">Modifier</a>
            <a href="delete/?id={{ item.id }}">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}