{% extends 'base.html' %} {% block content %}


<div class="container">
    <h1>Liste des groupes</h1>

    <table class="table table-striped">
      <thead>
        <tr>
            <th>Nom</th>
            <th>Date et heure</th>
        </tr>
      </thead>
      <tbody>
        {% for item in group %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.date_group }}</td>
                <td>
                    {% if item not in profile.group_set.all %}
                        <a class="btn btn-primary" href="/joinGroup/?id={{ item.id }}">Rejoindre</a>
                    {% else %}
                        <a class="btn btn-danger" href="/leaveGroup/?id={{ item.id }}">Quitter</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content %}