{% extends 'base.html' %} {% block content %}

<div class="container">
    <h1>Forum</h1>

    <a class="btn btn-primary ms-3" href="/createForum">Poster un message</a>

    <table class="table table-striped">
      <thead>
        <tr>
            <th>Message</th>
            <th>Auteur</th>
        </tr>
      </thead>
      <tbody>
        {% for item in forum %}
            <tr>
                <td>{{ item.content }}</td>
                <td>{{ item.author.firstname }}</td>
                <td>
                    <a class="btn btn-primary">Voir</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock content %}